<!doctype html>
<html lang ="en">
<head>
  <title>Candidate Lookup NYC - Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">


  {% include 'nav.html' %}
</head>
<body>
  <h1>About</h1>
  <br/>


  <p style="text-align: center">ABSTRACT: </p>
  <p style="color:#000000; text-align: center">Candidate Lookup NYC was built to be a platform to help New York City residents connect with and support local campaigns in their communities. The problem is a general lack of information and media concerning local candidates and policy. In New York, local elected officials are more impactful to public policy that affects our daily lives, more so than state and national representatives. 
  </br></br></br>
    For example, a law banning “concealed carry” or “carrying a concealed weapon” (CCW) without a license in the State of New York was found by the Supreme Court last year to be in violation of the Second Amendment and therefore overturned. Though this may have corresponded with the political beliefs of many New York State residents, the same could not be said of New York City residents. Thus, the actions and beliefs of local city officials and representatives became critical to the daily life of the citizens of NYC.
  </br></br>
  </br>However, it is difficult for challenger candidates to get press and frequent redistricting leaves voters unsure of who their representatives are. This website solves this problem by being an easy-to-use platform to get information about candidates by filtering by the office they are running for, their district, party, top platform issues, endorsements, voting records, and other relevant information. The audience is any New Yorkers looking to get involved in local politics, and especially members of my club at school called “Youth Campaigners.” In this club, I reach out to local campaign managers and set up events for high schoolers in the city to campaign for candidates who are working to solve issues they are passionate about.
    
  </p>
  <br/>

  <div class="text-center">
    <form action = "/lookup">
      <button class="btn btn-success">Get Started!</button>
  </form>  </div>
<br>
  <div class="text-center">
    <a class="btn btn-info" href="https://docs.google.com/document/d/1ScTVZ-mTYdu87nkX8TrMSC6AlPmugk1sEmYEL20AcrQ/edit?usp=sharing" role="button" id="web">View the Codebook</a>
  </form>  </div>
  
  
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</body>

</html>